{% extends "base.html" %}
{% block title %}Контакти - Lubomir Video{% endblock %}
{% block content %}
<center><section id="contact" class="section contact">
<center><h1>Контакти</h1></center><br>
<div class="contacts">
    <!-- Email -->
    <div class="contact-item">
        <img src="https://images.icon-icons.com/2631/PNG/512/gmail_new_logo_icon_159149.png" class="icon">
        <h2><a href="mailto:lubomirk170175@gmail.com">lubomirk170175</a></h2>
    </div>
    <!-- Телефон1 -->
    <div class="contact-item">
        <img src="https://foni.papik.pro/uploads/posts/2024-10/foni-papik-pro-a2g7-p-kartinki-zvonite-na-prozrachnom-fone-26.png" class="icon">
        <h2><a href="tel:+380976419711">+38 (097) 641-97-11</a></h2>
    </div>
    <!-- Телефон2 -->
    <div class="contact-item">
        <img src="https://foni.papik.pro/uploads/posts/2024-10/foni-papik-pro-a2g7-p-kartinki-zvonite-na-prozrachnom-fone-26.png" class="icon">
        <h2><a href="tel:+380991858815"> +38 (099) 185-88-15</a></h2>
    </div>
    <!-- Viber -->
    <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/512/3670/3670130.png" class="icon">
        <h2><a href="viber://chat?number=%2B380991858815">+38 (099) 185-88-15</a></h2>
    </div>

    <!-- Instagram -->
    <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" class="icon">
        <h2><a href="https://www.instagram.com/lubomir_kazuk" target="_blank">@lubomir_kazuk</a></h2>
    </div>

    <!-- Facebook -->
    <div class="contact-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1280px-Facebook_Logo_%282019%29.png" class="icon">
        <h2><a href="https://www.facebook.com/lubomir.kazuk" target="_blank">@lubomir.kazuk</a></h2>
    </div>

    <!-- TikTok -->
    <div class="contact-item">
        <img src="https://static.vecteezy.com/system/resources/previews/021/495/942/non_2x/tiktok-logo-icon-free-png.png" class="icon">
        <h2><a href="https://www.tiktok.com/@lubomir.kazuk" target="_blank">@lubomir.kazuk</a></h2>
    </div>
  </div>
</section></center>
{% endblock %}
