{% extends "base.html" %}
{% block title %}Головна - LubomirVideo{% endblock %}
{% block content %}

<section class="center-hero hero-center hero-section">
  <div class="hero-overlay"></div>
  
  <div class="container hero-center">
      <h1><span class="brand-accent">Любомир</span> Казюк</h1>
      <h2>Фотограф та Відеограф</h2>
      <p class="lead">
        Займаюся створенням відеоконтенту, охоплюючи весь процес від планування до монтажу та постобробки.
      </p>
      <div class="hero-cta">
        <a href="/contact" class="btn btn-primary">Отримати консультацію</a>
        <a href="/portfolio" class="btn btn-outline">Переглянути роботи</a>
      </div>
  </div>
</section>
<section id="services" class="section services">
  <div class="container">
    <h2>Послуги</h2>
    <div class="grid grid-3">
      <div class="card">
        <h3>Зйомки</h3>
      <p>
• Блоги<br>
• Сюжети<br>
• Сімейні події</p>
      </div>
      <div class="card">
        <h3>Монтаж</h3>
        <p>• Динамічний монтаж для соцмереж<br>
           • Кліпи, сюжети, YouTube/TikTok-відео<br>
           • Корекція кольору, стабілізація, титри, музика</p>
      </div>
      <div class="card">
        <h3>Фотошоп</h3>
        <p>• Фотокниги, обкладинки, шкільні фотоальбоми, постери та інше за вашими потребами</p>
      </div>
    </div>
  </div>
{% endblock %}
